<p id="notice"><%= notice %></p>

<h1>Listing U Ssers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @u_ssers.each do |u_sser| %>
      <tr>
        <td><%= u_sser.name %></td>
        <td><%= u_sser.email %></td>
        <td><%= link_to 'Show', u_sser %></td>
        <td><%= link_to 'Edit', edit_u_sser_path(u_sser) %></td>
        <td><%= link_to 'Destroy', u_sser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New U sser', new_u_sser_path %>
